<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='styles_login.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Movie Dekho!</title>
</head>
<body>
    <div class="full-body">
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand">Movie Dekho</a>
            </div>
        </nav>
    </div>
    <div class="container-sm col-lg-4" id="form">
        <form action="/user_register" method="POST">
        <div class="form-floating mb-3" >
            <input name='name' class="form-control" id="floatingInput" placeholder="text" required>
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input name='username' class="form-control" id="floatingInput" placeholder="Username" required>
            <label for="floatingPassword">Username</label>
          </div>
          <div class="form-floating">
            <input name='password' type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
          </div>
          <div id="texting">
            <button type="submit" class="btn d-grid gap-2 col-6 mx-auto bg-dark text-light idp" >Register</button>
            <div id="link">
                <a class="text-link" href="{{url_for('home')}}" style="--bs-link-opacity:0.75 ;color:rgb(178, 214, 209);">User Login</a>
            </div>
            
          
          </div>
        </form>
      </div>
</body>
</html>