body{
    background: -webkit-gradient(linear, left top, left bottom, from(#0E8388), to(#2C3333)) fixed;
    
}
.top-bar{
    display: block;
}
.head{
    margin-top:6%;
    margin-bottom: 5%;
    padding: 0.01%;
    font-family: 'Poppins', sans-serif;
    position: relative;
    /* flex-wrap: wrap; */
}
.title{
    margin-left:5%;
    width: fit-content;
    font-family: 'Poppins', sans-serif;
    float :left;
}
.time{
    width: fit-content;
    margin-right: 20%;
    float:right;
}
.seat_select{
    display: block;
}
.form-input{
    width: 80%;
}